body {
    background-color: #edefee;
    font-family: 'Nunito', sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.header_logo img{
    max-width: 100%;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-radius: 30px;
    background-color: #edefee;
}
nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    font-size: 34px;
    padding: 14px 16px;
    color: #000000;
}
nav a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    background-color: #ffff00;
  }

section {
    display: flex;
}

article {
    flex: 1;
}
.details {
    background-color: #edefee;
    border-radius: 30px;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    max-width: 30px;
}